:root {
    --iris: #5A36CC;
    --wisteria: #A699DA;
    --periwinkle: #DACFEA;
    --lavender: #f7f7fA;
    --azure: #e3f5ff;
    --smoke: #d7d5d5;
    --bone: #fbfbfb;
    --dark: rgb(36,36,36);
    --semidark: rgb(94,94,94);
    --light: rgb(160,160,160);

    /* old colors */
    --darkblue-color: #061f3a;
    --purple-color: #6869b0;
    --whale-color: #112f4c;
    --green-color: #1f4361;
    --lilac-color: #917cb8; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    /* background-color: var(--dark) !important; */
}
h1, h2, h3, h4, h5, h6, p, li {
    /* color: var(--bone) !important; */
}
h1 {
    font-size: 60pt !important;
    font-weight: 800 !important;
}
h2 {
    font-size: 40pt !important;
    font-weight: 700 !important;
}
h3 {
    font-size: 30pt !important;
    font-weight: 600 !important;
}
h4 {
    font-size: 20pt !important;
    font-weight: 500 !important;
}
h5, h6 {
    font-size: 18pt !important;
    font-weight: 500 !important;
}
p, li {
    font-size: 12pt !important;
    font-weight: 400 !important;
}
.btn-primary {
    background-color:var(--iris) !important;
    border: 0px !important;
}
.btn-primary:hover {
    opacity: 90%;
}
.btn-secondary {
    background-color: var(--wisteria) !important;
    border: 0px !important;
}
.btn-secondary:hover {
    opacity: 90%;
}
.navbar-custom {
    background-color: var(--darkblue-color) !important;
    /* background-color: var(--iris) !important; */
    color: var(--bone) !important;
    height: 70px;
}
footer {
    background-color: var(--darkblue-color) !important;
    /* background-color: var(--iris) !important; */
    color: var(--bone);
    margin-top: 4px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
footer .footer-title {
    font-size: 15px !important;
}
footer p {
    font-size: 8px !important;
    margin: 0px;
    padding: 0px;
}

