:root {
    --darkblue-color: #061f3a;
    --purple-color: #6869b0;
    --whale-color: #112f4c;
    --green-color: #1f4361;
    --lilac-color: #917cb8; 
}
body {
    font-family: 'proxima-nova', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #061f3a !important;
}

.btn-primary {
    background-color:var(--purple-color) !important;
    border: 0px !important;
}
.btn-primary:hover {
    opacity: 90%;
}
.btn-secondary {
    background-color: var(--green-color) !important;
    border: 0px !important;
}
.btn-secondary:hover {
    opacity: 90%;
}
.navbar, .navbar-dark, .bg-dark {
    background-color: var(--darkblue-color) !important;
    color: white !important;
}
