:root {
    --darkblue-color: #061f3a;
    --purple-color: #6869b0;
    --whale-color: #112f4c;
    --green-color: #1f4361;
    --lilac-color: #917cb8; 
}
@font-face {
    font-family: 'proxima';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-regular-webfont.woff') format('woff'), url('fonts/proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova-regular-webfont.svg#proxima') format('svg');
    font-weight: normal;
    font-style: normal;
   }
* {
    font-family: 'proxima';
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    color: #061f3a !important;
}
.btn-primary {
    background-color:var(--purple-color) !important;
    border: 0px !important;
}
.btn-primary:hover {
    opacity: 90%;
}
.btn-secondary {
    background-color: var(--green-color) !important;
    border: 0px !important;
}
.btn-secondary:hover {
    opacity: 90%;
}
.navbar-custom {
    background-color: var(--darkblue-color) !important;
    color: white !important;
}
footer {
    background-color: var(--darkblue-color) !important;
    color: white;
    margin-top: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .footer-title {
    font-size: 15px;
}
footer p {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
}

