.create-navbar{
    background-color: #0D1F38;
}
.create-link{
    color: black;
    text-decoration: none;
}
.create-border-bottom{
    --bs-border-color: #0D1F38;
}
.create-heading{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
.create-body-container{
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.create-btn-primary{
    --bs-btn-bg: #686AAB;
    --bs-btn-border-color: #686AAB;
    --bs-btn-hover-bg: #5658A1;
    --bs-btn-hover-border-color: #5658A1;
    --bs-btn-active-bg: #5658A1;
    --bs-btn-active-border-color: #5658A1;
    --bs-btn-disabled-bg: #686AAB;
    --bs-btn-disabled-border-color: #686AAB;
}

.rewards-height {
    height: 100px;
}