.create-heading{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
.create-body-container{
    background-color: var(--semidark) !important;
    border-radius: 5px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.create-btn-primary{
    background-color: var(--wisteria) !important;
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.create-btn-verification{
    background-color: var(--wisteria) !important;
    border: none;
    font-size: 13px;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

.checkout-form{
    text-decoration: underline;
}

/*.create-btn-outline-secondary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: var(--wisteria);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--lilac-color);
    --bs-btn-hover-border-color: var(--lilac-color);
}*/

.create-btn{
    --bs-btn-bg: var(--wisteria) !important;
}

.sub-heading{
    font-size: 13px !important;
}

.rewards-height {
    height: 100px;
}
hr{
    color: var(--wisteria);
}
.form-control{
    /*padding-top: 10px;*/
    padding-bottom: 0px;
    padding-right: 1px;
    padding-left: 5px;
    margin-top: 0px;
    border-color: #ced4da;
}
.form-select-sm{
    border-radius: 6px !important;
}

.form-control-sm{
    border-radius: 6px !important;
}

#FormControlInput1{
    padding-top: 0px;
}

#FormControlInput2{
    padding-top: 0px;
}

.icon-launch{
    color: var(--wisteria) !important;
}

