.faq-question-box {
    width: 90%;
    margin-left: 2%;
    margin-bottom: 30px;
}
.question-text {
    border-bottom: 1px solid var(--bone);
}
.faq-question-box .btn {
    width: 180px;
    height: 40px;
    font-size: 17px;
    position: absolute;
}
.faq-question-button {
    position: absolute;
    background-color: transparent !important;
    border: 0px !important;
}
.faq-question-box:hover .question-text {
    border-bottom: 1px solid var(--wisteria);
}
.modal-content {
    background-color: var(--semidark) !important;
}
.modal-body {
    color: var(--bone);
}
.btn-close {
    background-color: var(--bone) !important;
}