.backer-tag {
  background-color: var(--wisteria);
  margin-left: 8px;
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  color: var(--bone);
  margin-bottom: 5px;
}
.developer-tag {
  background-color: var(--iris);
  margin-left: 8px;
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  color: var(--bone);
  margin-bottom: 5px;
}
.game-like-button {
    width: 140px;
    height: 40px;
}
