
    .container-left {
        background-color: #917cb880;
        width: 450px;
        height: 500px;
        margin-top: 6%;
        margin-bottom: 6%;
        border-radius: 5%;
    }
    .container-right {
        background-color: white;
        width: 450px;
        height: 500px;
        margin-top: 6%;
        margin-bottom: 6%;
        border-radius: 5%;
    }
    .col-right {
        padding-left: 5%;
    }
    .type-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
    }
    .type-img {
        width: 60px;
        height: 60px;
        margin-top: 20px;
    }
    .type-text {
        font-size: 10px;
    }
    .horizontal-line {
        width: 80%;
        height: 1px;
        background-color: black;
    }
    .website-hover {
        color: #112f4c;
        text-decoration: underline;
    }
    .website-hover:hover {
        color: #6869b0;
    }
    .btn-custom {
        background-color: white;
        border: 1px solid #6869b0;
        color: #6869b0;
    }
    .btn-custom:hover {
        background-color: #6869b0;
        border: 1px solid #6869b0;
        color: white;
    }